<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.graduation.interviewAi.mapper.AnswerMapper">

	<!-- 유저가 답할 질문을 answer 테이블에 넣어둠 -->
    <insert id="insertEmptyAnswer">
        INSERT INTO Answer (questionId, interviewid)
        VALUES (#{questionId}, #{interviewId})
    </insert>

    <select id="findByInterviewIdAndQuestionId" resultType="com.graduation.interviewAi.domain.Answer">
        SELECT * FROM Answer
        WHERE interviewid = #{interviewId}
        AND questionId = #{questionId}
    </select>

    <update id="updateAcontentByInterviewAndQuestion">
        UPDATE Answer
        SET acontent = #{acontent}
        WHERE interviewid = #{interviewId}
        AND questionId = #{questionId}
    </update>

    <!-- InterviewId 기반 QnA 내역 가져옴 -->
    <select id="findAnswersByInterviewId" resultType="com.graduation.interviewAi.dto.AnswerWithQuestionDto">
        SELECT
        a.answerId,
        a.acontent,
        a.interviewId,
        q.questionId,
        q.jobId,
        q.category,
        q.qcontent,
        q.interview_source_id
        FROM Answer a
        JOIN Question q ON a.questionId = q.questionId
        WHERE a.interviewId = #{interviewId}
    </select>

    <!-- 동일한 QuestionId의 타 면접자 답변을 가져옴 -->
    <select id="findAnswersByQuestionId" resultType="string">
        SELECT acontent
        FROM Answer
        WHERE questionId = #{questionId}
          AND interviewId != #{interviewId}
    </select>

</mapper>
