<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.graduation.interviewAi.mapper.CommentMapper">
    <!-- Comment 추가 -->
    <insert id="insertComment"  parameterType="com.graduation.interviewAi.domain.Comment">
        INSERT INTO Comment (
            postId,
            cContent,
            userId,
            createdAt,
            userRole
        ) VALUES (
                     #{postId},
                     #{cContent},
                     #{userId},
                     #{createdAt},
                     #{userRole}
                 )
    </insert>

    <delete id="deleteCommentById" parameterType="int">
        DELETE FROM Comment WHERE commentId = #{commentId}
    </delete>

</mapper>
