<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.graduation.interviewAi.mapper.QuestionMapper">

	<insert id="insertResumeQuestion">
	  INSERT INTO Question (jobId, category, qcontent, interview_source_id)
	  VALUES (#{jobId}, #{category}, #{qcontent}, #{interviewSourceId})
	</insert>


</mapper>
