<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.graduation.interviewAi.mapper.ResultMapper">

    <!-- 답변 분석 결과 저장 -->
    <insert id="saveResult" useGeneratedKeys="true" keyProperty="resultId">
        INSERT INTO Result (
            logicScore,
            claScore,
            interviewId,
            suggestion,
            impAnswer,
            simScore,
            questionId
        )
        VALUES (
                   #{logicScore},
                   #{claScore},
                   #{interviewId},
                   #{suggestion},
                   #{impAnswer},
                   #{simScore},
                   #{questionId}
               )
    </insert>

    <!-- InterviewId 기반 결과 가져옴 -->
    <select id="findResultByInterviewId" resultType="com.graduation.interviewAi.domain.Result">
        SELECT
            resultId,
            logicScore,
            simScore,
            claScore,
            createdAt,
            interviewId,
            suggestion,
            impAnswer,
            questionId
        FROM Result
        WHERE interviewId = #{interviewId}
    </select>

    <!-- userID 기반 점수 내역 가져옴-->
    <select id="findScoreRecordsByInterviewId" resultType="com.graduation.interviewAi.dto.ScoreRecordsDto">
        SELECT
            r.interviewId,
            AVG(r.simScore) AS simScore,
            AVG(r.logicScore) AS logicScore,
            AVG(r.claScore) AS claScore,
            MAX(r.createdAt) AS createdAt
        FROM Result r
                 JOIN Interview i ON r.interviewId = i.interviewId
        WHERE i.userId = #{userId}
        GROUP BY r.interviewId
        ORDER BY MAX(r.createdAt) DESC
    </select>

</mapper>
